.header__nav {
  display: flex;
  overflow: hidden;
}

.header__logo {
  flex: 1;
  display: flex;

  position: relative;
  padding: 20px;
}

.header__logo-overlay {
  position: absolute;
  inset: 0;
  width: 100%;

  background-color: var(--primary-color);
  z-index: -1;
}

.header__logo h4 {
  padding-left: 30px;

  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  font-family: var(--playfair-display);
  color: #fff;
  opacity: 0.8;
}

.header__menu,
.header__menu-mobile {
  padding: 20px;
  flex: 1.236;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 64px;

  list-style: none;
}

.header__menu li {
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
}

.header__menu li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  font-size: 16px;
  position: relative;
}

.header__menu li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.header__menu li a:hover::after {
  width: 100%;
}

.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}

.header__menu li img:hover {
  transform: scale(1.1);
}

.header__menu-mobile {
  display: none;
  gap: 20px;

  position: relative;
}
